<div class="space-y-4">
  @if (errorMessage) {
    <p class="text-sm text-red-600">{{ errorMessage }}</p>
  }

  <app-card>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <app-input type="number" label="userId" placeholder="Например: 1" [(ngModel)]="form.userId"></app-input>
      <app-input type="datetime-local" label="birthDateTime" [(ngModel)]="form.birthDateTime"></app-input>

      <app-input label="placeOfBirth" placeholder="khujand" [(ngModel)]="form.placeOfBirth"></app-input>
      <app-select label="gender" [options]="genderOptions" [(ngModel)]="form.gender"></app-select>

      <app-input label="fatherFullName" placeholder="O.O" [(ngModel)]="form.fatherFullName"></app-input>
      <app-input label="motherFullName" placeholder="A.A" [(ngModel)]="form.motherFullName"></app-input>

      <app-input type="number" label="birthWeight" placeholder="3" [(ngModel)]="form.birthWeight"></app-input>
      <app-select label="status" [options]="statusOptions" [(ngModel)]="form.status"></app-select>

      <div class="md:col-span-2">
        <app-input label="comment" placeholder="Комментарий" [(ngModel)]="form.comment"></app-input>
      </div>
    </div>
  </app-card>

  <div class="flex justify-end">
    <app-button variant="primary" (clicked)="submit()">{{ submitLabel }}</app-button>
  </div>
</div>
